.clock {
    font-family: 'Digital-7';
}

.centre {
    text-align: center; 
    font-size: 120px;
    color: red;
    background-color: black;
}

span {
    display: inline-block;
    width: 350px;
}
