
/* header.css */
#header {
    position: sticky;
    top: 0;
    background-color: black;
    font-family: "Raleway";
    font-size: 18px;
    margin: 0 0 0 0;
    z-index: 4;
    line-height: 1.5;
    overflow: auto;
}

.logo {
    max-width: 40px;
    position: fixed;
    z-index: 5;
    right: 5px;
    top: 1px;
}
/* header.css */

html {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    margin: 0;
}

.title {
    padding: 8px 16px;
    float: left;
    width: auto;
    color: white;
}